<div class="page-header">
  <h3>Treatment #<%= @treatment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= @treatment.description %></dd>

      <dt>Treatment code</dt>
      <dd><%= @treatment.treatment_code %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/treatments" class="btn btn-primary">
        Back
      </a>
      <a href="/treatments/<%= @treatment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_treatment/<%= @treatment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Treatment has many procedures -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Procedures
      </li>

      <% @treatment.procedures.each do |procedure| %>
        <li class="list-group-item">
          <a href="/procedures/<%= procedure.id %>">
            <%= procedure.provider_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/procedures/<%= procedure.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/procedures/<%= procedure.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_procedure/<%= procedure.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
