<div class="page-header">
  <h3>Patient #<%= @patient.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>First name</dt>
      <dd><%= @patient.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @patient.last_name %></dd>

      <dt>Address</dt>
      <dd><%= @patient.address %></dd>

      <dt>Phone number</dt>
      <dd><%= @patient.phone_number %></dd>

      <dt>Patient image</dt>
      <dd><img src="<%= @patient.patient_image %>" class="img-responsive"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/patients" class="btn btn-primary">
        Back
      </a>
      <a href="/patients/<%= @patient.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_patient/<%= @patient.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Patient has many procedures -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Procedures
      </li>

      <% @patient.procedures.each do |procedure| %>
        <li class="list-group-item">
          <a href="/procedures/<%= procedure.id %>">
            <%= procedure.provider_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/procedures/<%= procedure.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/procedures/<%= procedure.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_procedure/<%= procedure.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_procedure" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for provider_id -->
      <div class="form-group">
        <label for="provider_id" class="control-label">
          Provider
        </label>

        <%= select_tag(:provider_id, options_from_collection_for_select(Provider.all, :id, :provider_code_string), :class => "form-control") %>
      </div>

      <!-- Label and input for treatment_id -->
      <div class="form-group">
        <label for="treatment_id" class="control-label">
          Treatment
        </label>

        <%= select_tag(:treatment_id, options_from_collection_for_select(Treatment.all, :id, :treatment_code), :class => "form-control") %>
      </div>

      <!-- Label and input for patient_id -->
      <input type="hidden" name="patient_id" value="<%= @patient.id %>">

      <!-- Label and input for amount -->
      <div class="form-group">
        <label for="amount" class="control-label">
          Amount
        </label>

        <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" value="">
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Procedure
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Patient has many payments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Payments
      </li>

      <% @patient.payments.each do |payment| %>
        <li class="list-group-item">
          <a href="/payments/<%= payment.id %>">
            <%= payment.amount %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/payments/<%= payment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/payments/<%= payment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_payment/<%= payment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Patient has many locations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Locations
      </li>

      <% @patient.locations.each do |location| %>
        <li class="list-group-item">
          <a href="/locations/<%= location.id %>">
            <%= location.city %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/locations/<%= location.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/locations/<%= location.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_location/<%= location.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
