<div class="page-header">
  <h3>Doctor #<%= @doctor.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>First name</dt>
      <dd><%= @doctor.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @doctor.last_name %></dd>

      <dt>Phone number</dt>
      <dd><%= @doctor.phone_number %></dd>

      <dt>Doctor image</dt>
      <dd><img src="<%= @doctor.doctor_image %>" class="img-responsive"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/doctors" class="btn btn-primary">
        Back
      </a>
      <a href="/doctors/<%= @doctor.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_doctor/<%= @doctor.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Doctor has many provider_codes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Provider Codes
      </li>

      <% @doctor.provider_codes.each do |provider| %>
        <li class="list-group-item">
          <a href="/providers/<%= provider.id %>">
            <%= provider.provider_code_string %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/providers/<%= provider.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/providers/<%= provider.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_provider/<%= provider.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Doctor has many procedures -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Procedures
      </li>

      <% @doctor.procedures.each do |procedure| %>
        <li class="list-group-item">
          <a href="/procedures/<%= procedure.id %>">
            <%= procedure.provider_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/procedures/<%= procedure.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/procedures/<%= procedure.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_procedure/<%= procedure.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Doctor has many collections -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Collections
      </li>

      <% @doctor.collections.each do |payment| %>
        <li class="list-group-item">
          <a href="/payments/<%= payment.id %>">
            <%= payment.amount %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/payments/<%= payment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/payments/<%= payment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_payment/<%= payment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
