<div class="page-header">
  <h3>Procedure #<%= @procedure.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Provider</dt>
      <dd>
        <% if @procedure.provider.present? %>
          <a href="/providers/<%= @procedure.provider_id %>">
            <%= @procedure.provider.provider_code_string %>
          </a>
        <% end %>
      </dd>

      <dt>Treatment</dt>
      <dd>
        <% if @procedure.treatment.present? %>
          <a href="/treatments/<%= @procedure.treatment_id %>">
            <%= @procedure.treatment.treatment_code %>
          </a>
        <% end %>
      </dd>

      <dt>Patient</dt>
      <dd>
        <% if @procedure.patient.present? %>
          <a href="/patients/<%= @procedure.patient_id %>">
            <%= @procedure.patient.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>Amount</dt>
      <dd><%= @procedure.amount %></dd>

      <dt>Date</dt>
      <dd><%= @procedure.date %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/procedures" class="btn btn-primary">
        Back
      </a>
      <a href="/procedures/<%= @procedure.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_procedure/<%= @procedure.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Procedure has many payments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Payments
      </li>

      <% @procedure.payments.each do |payment| %>
        <li class="list-group-item">
          <a href="/payments/<%= payment.id %>">
            <%= payment.amount %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/payments/<%= payment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/payments/<%= payment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_payment/<%= payment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_payment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for amount -->
      <div class="form-group">
        <label for="amount" class="control-label">
          Amount
        </label>

        <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" value="">
      </div>

      <!-- Label and input for procedure_id -->
      <input type="hidden" name="procedure_id" value="<%= @procedure.id %>">

      <button class="btn btn-block btn-success">
        Create Payment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Procedure has many doctor -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Doctor
      </li>

      <% @procedure.doctor.each do |doctor| %>
        <li class="list-group-item">
          <a href="/doctors/<%= doctor.id %>">
            <%= doctor.first_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/doctors/<%= doctor.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/doctors/<%= doctor.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_doctor/<%= doctor.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Procedure has many location -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Location
      </li>

      <% @procedure.location.each do |location| %>
        <li class="list-group-item">
          <a href="/locations/<%= location.id %>">
            <%= location.city %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/locations/<%= location.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/locations/<%= location.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_location/<%= location.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
